body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.text-muted {
  color: #7d8da1;
}

/* NAVBAR */
.navbar {
  background: #000000;
}

/* SECTION-1 */
.sec-1 {
  background: #F7F7F7;
  padding: 2rem 10rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .text {
  text-align: left;
}

.sec-1 .img img {
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

/* SECTION-2 */
.sec-2 {
  background: #000000;
  padding: 2rem 10rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-2 .text {
  text-align: right;
}

.sec-2 .img img {
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

/* SECTION-3 */
.sec-3 {
  background: #F7F7F7;
  padding: 2rem 10rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-3 .text {
  text-align: left;
}

.sec-3 .img img {
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

/* SECTION-4 */
.sec-4 {
  background: #000000;
  padding: 2rem 10rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-4 .text {
  text-align: right;
}

.sec-4 .text .social img {
  width: 32px;
  height: 32px;
}

.sec-4 .img img {
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

footer {
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 574px) {
  .sec-1 {
    display: grid;
  }

  .sec-2 {
    display: grid;
  }

  .sec-3 {
    display: grid;
  }

  .sec-4 {
    display: grid;
  }
}
