

body {
  font-family: 'Metrophobic', sans-serif;
  font-weight: 400;
  background: linear-gradient(90deg, #1C0C5B, #3D2C8D, #916BBF, #C996CC);
  background-size: 600% 600%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

main {
  color: #ffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  background: rgba(255, 255, 255, 0.100);
  backdrop-filter: blur(7px);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

/* Section 1 */
.sec-1 .about {
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sec-1 .about .text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.sec-1 .about .img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.sec-1 .about .img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* Section 2 */
.sec-2 .work {
  background: #000000;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sec-2 .work .text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sec-2 .work .img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.sec-2 .work .img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* Section 3 */
.sec-3 .contact {
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sec-3 .contact .text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sec-3 .contact .img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.sec-3 .contact .img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* Section 4 */
.sec-4 .social {
  background: #000000;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sec-4 .social .text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sec-4 .text .social-icons img {
  width: 32px;
  height: 32px;
}

.sec-4 .social .img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.sec-4 .social .img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sec-1 .about {
    display: flex;
    flex-direction: column;
  }

  .sec-1 .about .text {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .sec-1 .about .img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .sec-1 .about .img img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .sec-2 .work {
    display: flex;
    flex-direction: column;
  }

  .sec-2 .work .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-2 .work .img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .sec-2 .work .img img {
    display: block;
    margin: auto;
    width: 100%;
  }

  .sec-3 .contact {
    display: flex;
    flex-direction: column;
  }

  .sec-3 .contact .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-3 .contact .img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .sec-3 .contact .img img {
    display: block;
    margin: auto;
    width: 100%;
  }

  .sec-4 .social {
    display: flex;
    flex-direction: column;
  }

  .sec-4 .social .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-4 .social .img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .sec-4 .social .img img {
    display: block;
    margin: auto;
    width: 100%;
  }
}

/* Media Queries */
@media screen and (max-width: 900px) and (orientation: landscape) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sec-1 .about {
    display: flex;
    flex-direction: row;
  }

  .sec-1 .about .text {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .sec-1 .about .img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-1 .about .img img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .sec-2 .work {
    display: flex;
    flex-direction: row;
  }

  .sec-2 .work .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-2 .work .img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-2 .work .img img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-3 .contact {
    display: flex;
    flex-direction: row;
  }

  .sec-3 .contact .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-3 .contact .img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-3 .contact .img img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-4 .social {
    display: flex;
    flex-direction: row;
  }

  .sec-4 .social .text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sec-4 .social .img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .sec-4 .social .img img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
