body {
  background: #000000;
  ont-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: linear-gradient(90deg, #1C0C5B, #3D2C8D, #916BBF, #C996CC);
  background-size: 600% 600%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

main {
  color: #ffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.text-muted {
  color: #7d8da1;
}

/* NAVBAR */
.navbar {
  background: rgba(255, 255, 255, 0.100);
  -webkit-backdrop-filter: blur(7px);
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

/* Section 1 */
.sec-1 .about {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sec-1 .about .text {
  text-align: center;
}

.sec-1 .about .img {}

.sec-1 .about .img img {
  width: 35rem;
  height: 35rem;
}

/* Section 2 */
.sec-2 .work {
  background: #000000;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sec-2 .work .text {
  text-align: center;
}

.sec-2 .work .img {}

.sec-2 .work .img img {
  width: 35rem;
  height: 35rem;
}

/* Section 3 */
.sec-3 .contact {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sec-3 .contact .text {
  text-align: center;
}

.sec-3 .contact .img {}

.sec-3 .contact .img img {
  width: 35rem;
  height: 35rem;
}

/* Section 4 */
.sec-4 .social {
  background: #000000;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sec-4 .social .text {
  text-align: center;
}

.sec-4 .text .social-icons img {
  width: 32px;
  height: 32px;
}

.sec-4 .social .img {}

.sec-4 .social .img img {
  width: 35rem;
  height: 35rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sec-1 .about {
    display: grid;
  }

  .sec-1 .about .img img {
    width: 20rem;
    height: 20rem;
  }

  .sec-2 .work {
    display: grid;
  }

  .sec-2 .work .img img {
    width: 20rem;
    height: 20rem;
  }

  .sec-3 .contact {
    display: grid;
  }

  .sec-3 .contact .img img {
    width: 20rem;
    height: 20rem;
  }

  .sec-4 .social {
    display: grid;
  }

  .sec-4 .social .img img {
    width: 20rem;
    height: 20rem;
  }
}

/* Media Queries */
@media screen and (max-width: 900px) and (orientation: landscape) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sec-1 .about {
    display: flex;
  }

  .sec-1 .about .img img {
    width: 15rem;
    height: 15rem;
  }

  .sec-2 .work {
    display: flex;
  }

  .sec-2 .work .img img {
    width: 15rem;
    height: 15rem;
  }

  .sec-3 .contact {
    display: flex;
  }

  .sec-3 .contact .img img {
    width: 15rem;
    height: 15rem;
  }

  .sec-4 .social {
    display: flex;
  }

  .sec-4 .social .img img {
    width: 15rem;
    height: 15rem;
  }
}
